 /*
fonts :
font-family: 'Muli', sans-serif;
 */
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 //  variables
 $theme:#04BF8A;

 // rest of style
 body {
     font-family: 'Muli', sans-serif;
     background-color: #efefef;
     user-select: none;
 }

 ::selection {
     color: #fff;
     background-color: $theme;
 }

 h1 {
     display: block;
     position: relative;
     margin: 10px;
     margin-top: 30px;
     font-size: xx-large;
     text-align: center;

     .f1 {
         color: $theme;
     }
 }

 #entry {
     display: flex;
     position: relative;
     margin: auto;
     margin-top: 35px;
     background-color: #fff;
     height: 62px;
     width: 88vw;
     border-radius: 10px;
     max-width: 600px;
     transition-duration: .83s;
     cursor: pointer;

     #entry:hover {
         box-shadow: 0 0 10px 2px #00b8ee;
     }
 }



 input {
     display: flex;
     position: relative;
     height: 42px;
     width: 78%;
     border: none;
     outline: none;
     border-radius: 10px;
     margin: 10px;
     left: 10px;
     background-color: transparent;
     font-size: 20px;
     font-family: 'Slabo 27px', serif;
     transition-duration: 1.65s;
     opacity: 0;
     font-family: 'Muli', sans-serif;
 }

 button {
     display: inline-block;
     position: absolute;
     background-color: $theme;
     color: white;
     border: none;
     outline: none;
     border-radius: 10px;
     height: 54px;
     width: 54px;
     top: 4px;
     right: 4px;
     font-size: 20px;
     font-weight: lighter;
     transition-duration: 0.1s;
     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 3px 5px rgba(0, 0, 0, 0.3);
     cursor: pointer;
 }

 button:active {
     transform: scale(0.86);
     box-shadow: none;
 }

 svg {
     fill: white;
     transform: scale(.62);
 }


 #errorMsg {
     font-family: 'Aleo', serif;
     font-size: 14px;
     margin: 10px 5px 2px 5px;
     text-align: center;
     color: $theme;
 }

 #output {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
     position: relative;
     margin: 10px auto 10px auto;
     background-color: transparent;
     width: 100%;
     max-width: 580px;
     font-size: 20px;
     user-select: auto;
     padding: 7px;
     flex-grow: 1;
     flex-shrink: 1;
     flex-wrap: wrap;
     font-family: 'Muli', sans-serif;
 }

 .tab {
     height: auto;
     width: 30%;
     margin: 4px 2px 2px 0px;
     color: #262626;
     background: #fff;
     padding: 8px;
     border-radius: 4px;
     text-align: center;
 }

 .tab1 {
     height: auto;
     width: 100%;
     margin: 4px 2px 2px 0px;
     color: #262626;
     background: #fff;
     padding: 8px;
     border-radius: 4px;
     text-align: center;
 }

 p {
     color: gray;
 }